@font-face {
  font-family: "myself";
  src: url("pingfang-cg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTMeiHeiJ";
  src: url("TTMeiHeiJ.ttf");
  font-weight: normal;
  font-style: normal;
}
